@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext");
/* set fonts */
/* set colors */
.mdl-button--red {
  background-color: #f44336 !important;
  color: white;
}

.mdl-button--red > .fa-shopping-cart, .mdl-button--green > .fa-shopping-cart, .mdl-button--blue > .fa-shopping-cart, .mdl-button--purple > .fa-shopping-cart {
  padding-right: 10px;
}

.mdl-button--green {
  background-color: #4caf50 !important;
}

.mdl-button--blue {
  background-color: #4554a5 !important;
}

.mdl-button--purple {
  background-color: #4b2d87 !important;
}

.mdl-button--green, .mdl-button--blue, .mdl-button--purple {
  color: white;
  font-size: 22px;
  width: 200px;
  height: 60px;
}

nav {
  height: 70px;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}

nav .navbar-brand {
  margin-right: 100px;
}

nav a {
  text-decoration: none !important;
}

nav .navbar-nav .mdl-button--red {
  margin-bottom: 20px;
}

nav .active {
  border-bottom: 3px solid #f44336;
}

nav .nav-item {
  margin-top: 20px;
  margin-right: 50px;
}

nav .nav-item .nav-link {
  color: #455a64 !important;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: "Roboto", sans-serif !important;
  font-weight: bold !important;
}

.aboutus {
  padding-top: 150px;
}

.aboutus h1 {
  margin-top: 0px;
  color: #455a64;
  margin-bottom: 80px;
}

.aboutus .subheading {
  font-size: 24px;
  color: #455a64;
}

.aboutus .text {
  font-size: 18px;
  color: #90a4ae;
  margin-bottom: 80px;
}

.aboutus .note .text {
  padding-left: 20px;
  border-left: 1px solid gray;
  color: #009688;
}

.aboutus .note .text span {
  font-size: 24px;
}

.aboutus .note .text p {
  font-size: 18px;
}

.aboutus .note .text button {
  text-transform: uppercase;
  width: 237px;
  font-size: 14px;
  height: 45px;
}

.aboutus .contact-text {
  margin-bottom: 100px;
}

.aboutus .contact-text .heading {
  font-size: 18px;
  color: #009688;
}

.aboutus .contact-text .row {
  padding-top: 30px;
  font-size: 14px;
  color: #90a4ae;
}

.aboutus .contact-text .row .fa {
  font-size: 18px;
  padding-right: 20px;
}

@media (min-width: 763px) and (max-width: 992px) {
  .aboutus .note button {
    width: 200px !important;
  }
}

@media (max-width: 768px) {
  .aboutus {
    padding-top: 100px;
  }
  .aboutus h1 {
    text-align: center;
    font-size: 34px;
    margin-bottom: 30px;
  }
  .aboutus .note {
    height: 170px;
  }
  .aboutus .note .text {
    border-left: none;
    text-align: center;
  }
  .aboutus .text {
    margin-bottom: 30px;
  }
  .aboutus .contact-text {
    margin-bottom: 20px;
  }
}

footer {
  background-color: #eeeeee;
  padding-top: 80px;
}

footer .usefull {
  text-align: right;
}

footer .usefull .heading {
  font-size: 14px;
  color: #455a64;
}

footer .usefull ul {
  list-style: none;
  padding: 0;
}

footer .usefull a {
  color: #90a4ae;
  padding-right: 0px;
}

footer hr {
  margin-top: 80px;
}

footer .copy {
  padding-top: 40px;
  padding-bottom: 40px;
  color: #455a64;
  text-align: center;
}

@media (max-width: 768px) {
  nav {
    height: unset;
  }
  .hero {
    height: 625px;
    padding-top: 50px;
  }
  .hero h1 {
    padding-top: 30px;
    font-size: 36px;
  }
  .hero p {
    font-size: 17px;
  }
  .hero .mdl-button--red {
    width: 240px;
    height: 40px;
    font-size: 18px;
  }
  .hero .circles {
    display: none;
  }
  .hero .button-scroll {
    top: 590px;
  }
  .products {
    padding: 40px 0;
  }
  .products .heading {
    font-size: 35px;
    margin-bottom: 40px;
  }
  .products .content-card {
    padding: 0;
    margin-top: 0px;
    margin-left: 0px;
    height: unset;
  }
  .products .content-card ul {
    line-height: 25px;
  }
  .products .content-card .col-md-3 {
    text-align: center;
  }
  .products .content-card .col-md-3 img {
    display: block;
    margin: 0 auto;
  }
  .products .products-list {
    padding-top: 0;
  }
  .products .products-list img {
    padding-left: 50px;
  }
  .products .products-list .product-info {
    margin-top: 40px;
  }
  .products .products-list .product-info button {
    margin-bottom: 40px;
  }
  .products .product1 {
    margin-top: 45px;
  }
  .products .product2, .products .product3 {
    margin-top: 0px;
  }
  .advantages {
    text-align: center;
    height: unset !important;
  }
  .advantages .heading {
    padding-top: 20px;
    font-size: 26px;
  }
  .advantages-list {
    padding-top: 25px !important;
    padding-bottom: 30px !important;
    font-size: 19px;
  }
  .spectrum {
    padding-top: 15px;
    height: 620px;
  }
  .spectrum .circles {
    display: none;
  }
  .spectrum h1 {
    padding-top: 30px;
    font-size: 40px;
  }
  .spectrum .row {
    padding-left: 60px;
    padding-top: 0px;
  }
  .functions-content {
    padding-top: 0px !important;
  }
  .collapse-card-text {
    padding-left: 30px;
  }
  .content-card {
    padding: 0;
    margin-top: 50px;
    margin-left: 0;
  }
  .functions .mdl-button--red {
    margin-bottom: 60px;
  }
  .support {
    padding-top: 30px;
    height: 460px;
  }
  .support h1 {
    padding-top: 30px;
    font-size: 24px;
  }
  .support p {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .bonus-services {
    margin-top: 30px;
  }
  .bonus-services img {
    margin-top: 0px;
  }
  .bonus-services .col-md-6 {
    padding: 0;
  }
  .bonus-services .col-md-6 h1 {
    text-align: center;
    font-size: 40px;
  }
  .bonus-services .col-md-6 p {
    padding-left: 40px;
    padding-top: 15px;
  }
  .bonus-services .col-md-6 .bonus-services-list {
    padding-left: 55px;
    padding-bottom: 15px;
  }
  .bonus-services .col-md-6 button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  footer {
    padding-top: 40px;
  }
  footer .col-md-3 {
    padding-bottom: 20px;
  }
  footer .col-md-3 img {
    display: block;
    margin: 0 auto;
  }
  footer .usefull {
    text-align: center;
  }
  footer hr {
    margin-top: 0;
  }
}

@media (min-width: 763px) and (max-width: 992px) {
  nav .nav-item {
    margin-right: 0px;
  }
  .products .content-card .col-md-9 li {
    font-size: 16px;
  }
  .products .content-card .col-md-3 p {
    font-size: 16px;
  }
  .products .products-list .container {
    padding: 0;
  }
  .products .products-list .container img {
    padding-left: 40px;
    max-width: 240px;
  }
  .products .products-list .container .product1, .products .products-list .container .product2, .products .products-list .container .product3 {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 45px;
  }
  .products .products-list .container .product1 button, .products .products-list .container .product2 button, .products .products-list .container .product3 button {
    width: 180px;
  }
  .advantages {
    height: 450px;
    background-position-x: 65px;
  }
  .advantages .heading {
    padding-top: 40px;
  }
  .spectrum .content {
    display: table;
    margin: 0 auto;
  }
  .support .heading {
    padding-top: 65px;
  }
  .bonus-services img {
    margin-top: 116px;
  }
}

@media (min-width: 993px) and (max-width: 1024px) {
  .products .products-list img {
    padding-left: 45px;
  }
  .spectrum .row .circles .c1 {
    left: 200px;
  }
  .spectrum .row .circles .c2 {
    left: 50px;
  }
  .spectrum .row .circles .c3 {
    left: 90px;
  }
  .spectrum .row .circles .c4 {
    left: 345px;
  }
  .spectrum .row .circles .c5 {
    left: 305px;
  }
  .bonus-services img {
    margin-top: 168px;
  }
}
/*# sourceMappingURL=aboutus.css.map */