@font-face {
    font-family: 'Roboto-Bold';
    src:  url('../assets/fonts/Roboto-Bold.ttf.woff') format('woff'),
    url('../assets/fonts/Roboto-Bold.ttf.svg#Roboto-Bold') format('svg'),
    url('../assets/fonts/Roboto-Bold.ttf.eot'),
    url('../assets/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}