@media (min-width: 763px) and (max-width: 992px) {
    
    nav .nav-item {
        margin-right: 0px;
    }
    
    .products {

        .content-card {

            .col-md-9 {
                li {
                    font-size: 16px;
                }
            }

            .col-md-3 {
                p {
                    font-size: 16px;
                }
            }
        }
    
        .products-list {
            
            .container {
                padding: 0;
                
                img {
                    padding-left: 40px;
                    max-width: 240px;
                }
                
                .product1, .product2, .product3 {
                    margin-left: 0;
                    margin-right: 0;
                    padding-left: 0;
                    padding-right: 0;
                    margin-top: 45px;

                    button {
                        width: 180px;
                    }
                }
            }
        }
    }
    
    .advantages {
        height: 450px;
        background-position-x: 65px;

        .heading {
            padding-top: 40px;
        }

    }
    
    .spectrum {

        .content {
            display: table;
            margin: 0 auto;
        }
    }

    .support {
        
        .heading {
            padding-top: 65px;
        }
    }
    
    .bonus-services img {
        margin-top: 116px;
    }
    
}

@media (min-width: 993px) and (max-width: 1024px)
{
    .products .products-list img {
        padding-left: 45px;
    }

    .spectrum .row .circles .c1 {
        left: 200px;
    }

    .spectrum .row .circles .c2 {
        left: 50px;
    }

    .spectrum .row .circles .c3 {
        left: 90px;
    }

    .spectrum .row .circles .c4 {
        left: 345px;
    }

    .spectrum .row .circles .c5 {
        left: 305px;
    }

    .bonus-services img {
        margin-top: 168px;
    }
}