@media (max-width: 768px) {

    nav {
        height: unset;
    }

    .hero {
        height: 625px;
        padding-top: 50px;
    }

    .hero h1 {
        padding-top: 30px;
        font-size: 36px;
    }

    .hero p {
        font-size: 17px;
    }

    .hero .mdl-button--red {
        width: 240px;
        height: 40px;
        font-size: 18px;
    }
    
    .hero .circles {
        display: none;
    }

    .hero .button-scroll {
        top: 590px;
    }

    .products {
        padding: 40px 0;
        
        .heading {
            font-size: 35px;
            margin-bottom: 40px;
        }
        
        .content-card {
            padding: 0;
            margin-top: 0px;
            margin-left: 0px;
            height: unset;
            
            ul {
                line-height: 25px;
            }
            
            .col-md-3 {
                text-align: center;
                
                img {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        
        .products-list {
            padding-top: 0;
            
            img {
                padding-left: 50px;
            }
            
            .product-info {
                margin-top: 40px;

                button {
                    margin-bottom: 40px;
                }
            }
        }
        
        .product1 {
            margin-top: 45px;
        }

        .product2, .product3 {
            margin-top: 0px;
        }
    }
    
    .advantages {
        text-align: center;
        height: unset !important;
    }

    .advantages .heading {
        padding-top: 20px;
        font-size: 26px;
    }

    .advantages-list {
        padding-top: 25px !important;
        padding-bottom: 30px !important;
        font-size: 19px;
    }

    .advantages .advantages-list li {
        display: flow-root;
    }

    .advantages .advantages-list li::before {
        content: "";
        display: none;
    }    

    .spectrum {
        padding-top: 15px;
        height: 620px;
        
        .circles {
            display: none;
        }
        
        h1 {
            padding-top: 30px;
            font-size: 40px;
        }

        .row {
            padding-left: 60px;
            padding-top: 0px;
        }
    }
    
    .functions-content {
        padding-top: 0px !important;
    }

    .collapse-card-text {
        padding-left: 30px;
    }

    .content-card {
        padding: 0;
        margin-top: 50px;
        margin-left: 0
    }

    .functions .mdl-button--red {
        margin-bottom: 60px;
    }
    
    .support {
        padding-top: 30px;
        height: 460px;
        
        h1 {
            padding-top: 30px;
            font-size: 24px;
        }
        
        p {
            padding-top: 10px;
            padding-bottom: 20px;
        }
    }

    .bonus-services {
        
        margin-top: 30px;

        img {
            margin-top: 0px;
        }
        
        .col-md-6 {
            padding: 0;
            
            h1 {
                text-align: center;
                font-size: 40px;
            }
            
            p {
                padding-left: 40px;
                padding-top: 15px;
            }
            
            .bonus-services-list {
                padding-left: 55px;
                padding-bottom: 15px;
            }
            
            button {
                display: block;
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
    }

    footer {
        padding-top: 40px;
        
        .col-md-3 {
            
            padding-bottom: 20px;
            
            img {
                display: block;
                margin: 0 auto;
            }
            
        }
        
        .usefull {
            text-align: center;
        }

        hr {
            margin-top: 0;
        }
    }

}

