/* set fonts */
$main-font: 'Roboto', sans-serif;

/* set colors */
$white: #fff;
$red: #f44336;
$text-field: #455a64;
$text-field-light: #455a64;
$grey: #c2c2c2;
$yellow: #ffc108;
$turquoise: #009688;
$turquoise-half-transparent: rgba(0, 150, 136, 0.5);
$light-grey: #f8f8f8;
$green-product: #4caf50;
$blue-product : #3f51b5;
$purple-product: #4a148c;

$material-font : "Material Icons";