.advantages {
    background: url(../assets/img/fungovani_foto.png);
    background-size: cover;
        
    .heading {
        padding-top: 140px;
        color: $white;
        
        font-weight: bold;
    }
        
    .advantages-list {
        padding-top: 50px;
        padding-bottom: 200px;
        font-size: 22px;
        color: $grey;
        list-style: none;
        padding-left: 0px;
        line-height: 35px;
        
        
        .highlight {
            color: $white;
            
        }
    }

    .advantages-list li {
        display: -webkit-box;
    }

    .advantages-list li:before {
        counter-increment: section;
        content: counter(section);
        
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        text-align: center;
        font-size: 14px;
        margin-top: 7px;
        padding: 10px;
        display: flex;
        height: 20px;
        width: 20px;
        color: white;
        background-color: $red;
    }
        
}