.advantages {
    background: url(../assets/img/fungovani_foto.png);
    background-size: cover;
        
    .heading {
        padding-top: 140px;
        color: $white;
        
        font-weight: bold;
    }
        
    .advantages-list {
        padding-top: 50px;
        padding-bottom: 200px;
        font-family: "Roboto" sans-serif;
        font-size: 22px;
        color: $grey;
        list-style: none;
        padding-left: 0px;
        line-height: 35px;
        
        
        .highlight {
            color: $white;
            
        }
    }
        
}