body, p {
    font-family: $main-font !important;
    counter-reset: section;            
}

h1, .heading, .list-heading, .effit, .price-text, .with-dph {
    font-family: $main-font !important;
    font-weight: bold !important;  
}

.mdl-button--raised {
    border-radius: 3px !important;
}

.green {
    color: $green-product;
}

.blue {
    color: $blue-product;
}

.purple {
    color: $purple-product;
}

.red {
    color: $red;
}

.ekko-lightbox-nav-overlay a span { 
    color: #455a64 