.bonus-services {
    margin-top: 140px;

    h1 {
        margin-top: 0px;
        color: $text-field;
        
    }
    
    .heading {
        padding-top: 50px;
        color: $text-field;
        font-size: 18px;
    }
    
    .bonus-services-list {
        
        color: $text-field-light;
        padding-left: 15px;
        padding-bottom: 50px;
    }

    .contact-us-button {
        font-size: 14px;
        color: $text-field;
        height: 45px;
        width: 237px;
        font-weight: bold;
        margin-bottom: 50px;
        
    }
    
    img {
        margin-top: 132px;
    }
}