.bonus-services {
    height: 500px;
    padding-top: 35px;
    
    h1 {
        color: #455a64;
        font-weight: 600;
    }
    
    p {
        padding-top: 30px;
        color: #455a64;
        font-weight: 600;
        font-size: 18px;
    }
    
    .bonus-services-list {
        color: #455a64;
        padding-left: 15px;
        padding-bottom: 40px;
        
        .contact-us-button {
            font-size: 14px;
            color: #455a64;
            padding-left: 35px;
            padding-right: 35px;
            margin-bottom: 65px;
        }
    }
    
    img {
        margin-top: 132px;
    }
}