footer {
    background-color: #eeeeee;
    padding-top: 80px;
}

footer .usefull {
    text-align: right;
}

footer .usefull .heading {
    font-size: 14px;
    color: $text-field;
    font-family: $heading-font;
}

footer .usefull ul {
    list-style: none;
    font-family: $text-font;
    padding: 0;
}

footer .usefull a {
    color: $text-field-light;
    padding-right: 0px;
}

footer hr {
    margin-top: 80px;
}

footer .copy {
    padding-top: 40px;
    padding-bottom: 40px;
    color: $text-field;
    text-align: center;
    font-family: $text-font;
}