.functions {

    h1 {
        font-size: 40px;
        color: $red;
        text-align: center;
        font-family: $heading-font;
    }
    
    .functions-content {
        padding-top: 50px;

    
        .collapse-card {
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            margin-bottom: 10px;
            
            .heading {
                color: $text-field;
                margin-bottom: 0;
                font-size: 18px;
                font-family: $heading-font;
            }
            
            .circle-check {
                margin-top: 25px;
            }
            
            .circle-check:before {
                color: $red;
            }
            
            .collapse-button {
                color: $red;
                margin-top: 20px;
                font-size: 36px;
            }
            
            .collapse-card-text {
                font-family: $text-font;
                color: $text-field-light;
                padding-left: 50px;
                padding-top: 5px;
            }
            
            .preparing {
                color: $red;
                font-family: $heading-font;
            }
            
            .images {
                padding-left: 20px;
                
                img {
                    height: 100px;
                    margin-right: 20px;
                    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                }
            }
        }
    }
    
    .mdl-button--red {
        width: 300px;
        height: 55px;
        font-family: $heading-font;
        display: block;
        margin: 0 auto;
        font-size: 22px;
        margin-top: 50px;
        margin-bottom: 140px;
    }

}