.functions {

    h1 {
        font-size: 40px;
        color: $red;
        text-align: center;
        
    }
    
    .functions-content {
        padding-top: 50px;
    
        .collapse-card {
            -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
            margin-bottom: 10px;
            
            .heading {
                color: $text-field;
                margin-bottom: 0;
                font-size: 18px;
                
            }
            
            .circle-check {
                margin-top: 25px;
            }
            
            .circle-check:before {
                color: $red;
            }
            
            .collapse-button {
                color: $red;
                margin-top: 20px;
                font-size: 36px;
            }
            
            .collapse-card-text {
                
                color: $text-field-light;
                padding-left: 50px;
                padding-top: 5px;

                .subheading {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                }

                .preparing {
                    color: $red;
                }
            }

            .col-md-5 {

                .preparing {
                    color: $red;
                    font-size: 18px;
                    margin-top: 15px;
                }
            }

            .images {
                padding-left: 20px;
                
                img {
                    height: 100px;
                    width: 200px;
                    margin-right: 20px;
                    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
                }
            }

            .card-body ul {
                color: $text-field-light;
            }
        }
    }
    
    .mdl-button--red {
        width: 300px;
        height: 55px;
        
        display: block;
        margin: 0 auto;
        font-size: 22px;
        margin-top: 50px;
        font-weight: bold;
        margin-bottom: 140px;
    }

}