nav {
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    
    .navbar-brand {
        margin-right: 100px;
    }
    
    a {
        text-decoration: none !important;
    }
    
    .navbar-nav .mdl-button--red {
        margin-bottom: 5px;
    }
    
    .nav-item {
        margin-top: 10px;
        margin-right: 50px;
        
        .nav-link {
            color: #455a64 !important;
            padding-bottom: 15px;
            font-size: 18px;
            
            .active {
                color: #455a64 !important;
                border-bottom: 3px solid #f44336;
            }
        }
    }
}

.hero {
    height: 900px;
    background: url('../assets/img/hero.jpg');
    background-size: cover;
    text-align: center;
    color:white;
    padding-top: 200px;
    
    p {
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .mdl-button--red {
        width: 300px;
        height: 55px;
        font-size: 20px;
    }
    
    .mdl-button--transparent {
        margin-top: 40px;
        color: white;
        background-color: transparent;
        border: 1px solid white;
        padding-left: 56px;
        padding-right: 56px;
        height: 40px;
    }
    
    .button-scroll {
        width: 50px;
        height: 50px;
        left: calc(50% -  25px);
        position: absolute;
        z-index: 999;
        top: 870px;
        background: $white;
        color: $red;
    } 

    .button-scroll:hover, .button-scroll:focus, .button-scroll:active {
        background-color: #f44336 !important;
        color: $white;
    }
}