nav {
    height: 70px;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
    
    .navbar-brand {
        margin-right: 100px;
    }
    
    a {
        text-decoration: none !important;
    }
    
    .navbar-nav .mdl-button--red {
        margin-bottom: 20px;
        font-weight: bold;
    }
    
    .active {
        border-bottom: 3px solid $red;
    }
    
    .nav-item {
        margin-top: 20px;
        margin-right: 50px;
        
        .nav-link {
            color: $text-field !important;
            padding-bottom: 15px;
            font-size: 18px;
            font-weight: bold;
            font-family: $main-font !important;
            font-weight: bold !important;  
        }
    }
}