.products {
    padding-top: 140px;
    
    .heading {
        text-align: center;
        font-weight: bold;
        font-size: 56px;
        color: #455a64;
        margin-bottom: 100px;
        
    }
    
    
    .content-card {
        padding: 35px 0px;
        height: 290px;
        margin-left: 60px;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
        
        .list-heading {
            padding-left: 15px;
            font-weight: bold;
            text-align: left !important;
            font-size: 22px;
            color: $text-field;
        }
        
        ul {
            padding-left: 35px;
            margin-top: 20px;
            font-size: 18px;
            
            li {
                text-align: left;
                color: $text-field-light;
                list-style: none;
                line-height: 30px;
            }
            
            li:before {    
                font-family: 'FontAwesome';
                content: "\f058"; 
                margin:0 5px 0 -15px;
                color: $red;
            }
            
        }

        .verified-user {
            display: block;
            margin: 0 auto;
        }

        p {
            padding-top: 10px;
            color: $text-field-light;
            line-height: 30px;
            text-align: center;
            font-size: 22px;
        }
    }
    
    .products-list {
        padding-top: 80px;
        text-align: center;
        
        img {
            display: block;
            margin: 0 auto;
            padding-left: 80px;
        }
        
        .product-info {
            margin-top: 50px;
            color: $text-field-light;
            
            .effit {
                font-size: 14px;
                margin-bottom: 0px;
                text-transform: uppercase;
            }
            
            .heading {
                font-size: 22px;
                font-weight: bold;
                color: $text-field;
                margin-bottom: 10px;
            }
            
            .price-text {
                color: #455a64;
                font-size: 14px;
                margin-bottom: 0;
            }
            
            .product-price {
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 50px;
            }
            
            .with-dph {
                font-size: 14px;
            }
            
            button {
                
                height: 65px;
                width: 250px;
                margin-bottom: 140px;
            }
        }
    }
}