.support {
    background: url(../assets/img/paralax_red.jpg);
    background-size: cover;
    background-attachment: fixed;
    
    h1 {
        padding-top: 140px;
        text-align: center;
        color: $white;
        
    }
    
    p {
        padding-top: 50px;
        text-align: center;
        font-size: 18px;
        color: $white;
        padding-bottom: 50px;
        
    }
    
    .contact-button {
        color: $white;
        background-color: transparent;
        border: 1px solid $white;
        padding-left: 56px;
        padding-right: 56px;
        height: 40px;
        font-weight: bold;
        display: block;
        margin: 0 auto;
        
    }
    
    padding-bottom: 140px;
}